<h1>stores within 25 miles of <%= @stores.first.zip %></h1>
<h6> <%= @stores.count %> Total Stores</h6>

<% @stores.take(15).each do |store| %>
  <div class="store">
    Store name: <%= store.name %><br />
    City: <%= store.city %><br />
    Distance: <%= store.distance %><br />
    Phone: <%= store.phone %><br />
    Store type: <%= store.type %><br /><br />
  </div>
<% end %>
