<h1>stores within 25 miles of <%= @stores.first.zip %></h1>
<h6> <%= @stores.count %> Total Stores</h6>

<% @stores.take(15).each do |store| %>
  <div class="store">
    <%= store.name %><br />
    <%= store.city %><br />
    <%= store.distance %><br />
    <%= store.phone %><br />
    <%= store.type %><br /><br />
  </div>
<% end %>
