<h1>stores within 25 miles of <%= @stores.first.zip %></h1>
<h6> <%= @stores.count %> Total Stores</h6>

<% @stores.take(15).each do |store| %>
  <div class="store">
    <strong>Store name: </strong><%= store.name %><br />
    <strong>City: </strong><%= store.city %><br />
    <strong>Distance: </strong><%= store.distance %><br />
    <strong>Phone: </strong><%= store.phone %><br />
    <strong>Store type: </strong><%= store.type %><br /><br />
  </div>
<% end %>
